
#block-sabbath-this_week {
  background-image: url("sunset.jpg");
  background-position: center;
  margin-right: 20px !important;
  padding: 11px 15px 12px !important;
  max-width: 194px !important;
  max-height: 177px !important;
  line-height: 120%;
  color: #000000;
}

#block-sabbath-this_week .title {
  padding-top: 0px !important;
  margin-top: 0px !important;
}

#block-sabbath-this_week .content {
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

p.sabbath-this_week {
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

